/* main code */

body {
    font-family: "Lato", sans-serif;
}

.main-section {
    /* background-color:aqua; */
    height: 100vh;
    display: flex;
    justify-content: center;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.main-section {
    color: black;
    width: 100%;
    height: 50px;
    margin: 0px auto;
    text-align: right;
    /* font-size: 30px; */
}

video {
    width: 90%;
    height: auto;
}